<!--Authors: Benoit Sebastien, Mckinnley Workman-->
<!--Description:                                -->

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>AT2 Home</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="../../static/css/bootstrap.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
  	<style>
      #rootwizard:hover {
          background-color: yellow;
      }
    </style>
		
		<link href="../../static/css/styles.css" rel="stylesheet">
	</head>
	<body>

    	<div id="wrap" style="height:90%;">
    	  
            <!--Navbar-->
            <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                  </button>
                  <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-save"></span> Save</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> IronMan</a></li>
                  </ul>
                </div>
              </div>
            </nav>
            
            <!--Toolbars-->
            <div class="container-fluid" id="rootwizard">
              
                <div class="tab-content" style="padding:8px;">
          				<div class="tab-pane active" id="natural_resources">
          				  {% for n in natural_resources %}
          					  <image src="../../static/images/icons/{{n.icon_title}}-icon.png"/>
          					{% endfor %}
          				</div>
          				<div class="tab-pane" id="systems">
          				  {% for s in systems %}
          					  <image onclick="" onmouseover="" src="{% static "../../static/images/icons/{{s.icon_title}}-icon.png" %}"/>
          					{% endfor %}
          				</div>
          				<div class="tab-pane" id="components">
          					{% for c in components %}
          					  <image src="{% static "../../static/images/icons/{{c.icon_title}}-icon.png" %}"/>
          					{% endfor %}
          				</div>
          			</div><!-- ./tab-content -->
                
                <ul class="nav nav-tabs" role="tablist">
          			  <li><a href="#natural_resources" role="tab" data-toggle="tab">Natural Resources</a></li>
          			  <li><a href="#systems" role="tab" data-toggle="tab">Systems</a></li>
          			  <li><a href="#components" role="tab" data-toggle="tab">Components</a></li>
          			</ul>
          
            </div>
    
            <!--Create container for the canvas-->
            <div class="container" style="border: 5px solid pink; margin-right:0; margin-left:0;">
                <canvas id="build_assembly" style="background-color:lightpink; display: block;  width:100%;"></canvas>
            </div>
        
      </div>
    
    <!--Footer-->
    <div id="footer">
      <div class="container">
        <p>&nbsp;</p>
        <p class="col-md-6 col-sm-3 text-center"><a href="#">Status notes go down here...</a></p>
      </div>
    </div>

	 <!--script references -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<script src="../../static/js/bootstrap.min.js"></script>
	<script src="../../static/js/jquery.bootstrap.wizard.min.js"></script>
	<script type="text/javascript" src="../../static/js/custom.js"></script>
	
	</body>
</html>
