<!--Authors: Benoit Sebastien, Mckinnley Workman-->
<!--Description:                                -->

<!-- Location Question -->
<section class={{ class }} id={{ id }}>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Where are you located?</h1>
            <h4>help text test</h4>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Where are you located?</h1>
            <h4>help text test</h4>
        </div>
    </div>
</div>

</section>
