<!--
    Author: Benoit Sebastien, Mckinnley Workman
    
    File Description:
   
-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>AT2 Home</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="static/css/bootstrap.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="static/css/styles.css" rel="stylesheet">
	</head>
	<body>
<!-- Wrap all page content here -->
<div id="wrap">
   
  <!-- Begin page content -->
  <div class="center-container">
    <div class="center-row">
      <div class="col-xs-6 bg-one text-center"><h2><a href="{% url 'water_home' %}">Water</a></h2></div>
      <div class="col-xs-6 bg-two text-center"><h2><a href="{% url 'energy_home' %}">Energy</a></h2></div>
    </div>
    <div class="center-row">
      <div class="col-xs-6 bg-three text-center"><h2><a href="{% url 'agriculture_home' %}">Agriculture</a></h2></div>
      <div class="col-xs-6 bg-four text-center"><h2><a href="{% url 'structure_home' %}">Structure</a></h2></div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <p>&nbsp;</p>
    <p class="col-md-6 col-sm-3 text-center"><a href="#">About</a></p>
    <p class="col-xs-6 col-sm-6 text-center"><a href="#">Contact</a></p>
  </div>
</div>

	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
	</body>
</html>
